beautifulsoup4==4.8.0
boto3==1.9.224
botocore==1.12.224
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
demjson==2.2.4
docutils==0.15.2
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
idna==2.8
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
numpy==1.17.2
openpyxl==2.6.3
pandas==0.25.1
pprintpp==0.4.0
PyQt5==5.13.0
PyQt5-sip==4.19.19
PyQt5-stubs==5.13.0.1
pyqt5-tools==5.13.0.1.5
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
requests==2.22.0
robobrowser==0.5.3
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.3
tabloo==0.0.12
urllib3==1.25.3
Werkzeug==0.15.6
wget==3.2
xlrd==1.2.0
